.vscode/**
.vscode-test/**
src/**
.gitignore
.eslintrc.json
.npmignore
tsconfig.json
tsconfig.build.json
jest.config.js
*.map
*.tsbuildinfo
FEATURES.md
FEATURES-EXAMPLE.md
EXTENSION_STRUCTURE_REVIEW.md
README.md
LICENSE
branding/**
node_modules/**
*.log

